.resources img.background
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 90px);
    z-index: -1;
}

.resources .resources_content 
{
    margin: 200px 0 250px;
    text-align: center; 
    
}
.resources .resources_content img.img_content
{
    text-align: center;
    transform: translate( -10px,-15px);
    
}

.resources .resources_content h2
{
    font-family: 'Manrope', sans-serif;
    font-size: 56px; 
    font-weight: 300;
    padding: 0;
    width: 60%;
    color: white;
    margin: 0 auto 35px;
    text-align: center;
    line-height: normal;
    transform: translateY(-15px);
}

.resources .resources_content h2 .br{
    display: block;
}
.resources .resources_content p
{
    
    color: #fff;
    font-size: 12px;
    margin-bottom: 12px;
}

.resources_content .resources_logo
{
    display: flex;
    justify-content: space-around;
    background: #011528;
    border: 1px solid #256BF6;
    border-radius: 4px;
    width: 164px;
    margin: 0 auto;
    padding: 15px 0;
}


@media  (max-width: 575px ) {

    .resources img.background
    {
        transform: translate(-50%, 0);
    }

    .resources .resources_content h2
{
    font-family: 'Manrope', sans-serif;
    font-size: 36px; 
    width: 100%;
    transform: translateY(-5px);  
}
} 


@media (min-width: 576px) and (max-width: 768px ){

    

    .thanks .thanks_content h2
    {
        font-size: 38px; 
    }
    .thanks .thanks_content h2 .br
    {
        display: inline;
    }

}

@media (min-width: 769px) and (max-width: 992px ) {


    .resources img.background
    {
        transform: translate(-50%, 0);
    }

    .resources .resources_content h2
    {
        font-size: 46px; 
    }
}


