@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&display=swap');
.cercle_svg_sm
{
    display: none;
}
.home_screen
{
    position: relative;
    height: 100%;
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
}
.homePage_h1 h1
{
    font-family: 'Manrope', sans-serif; 
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 60px;
    letter-spacing: 0.02em;
    position: absolute;
    z-index: 100 !important;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.home_screen div.homePage_h1
{
    position: relative;
    display: inline-block;
    height: 160px;
    width: 100%;
}

.homePage_h1 h1 div 
{
  display: inline-block;  
  font-weight: bold;
}

.home_screen .home_cercel
{
    transform: translateY(-190px);
    text-align: center;
    position: relative;
    margin-bottom: -200px;
}

.home_screen .home_cercel .home_one

{
    position: absolute;
    width: 88px;
    height: 88px;
    top: 50%;
    left: 50%;
    transform: translate(-77%, -75%);
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
}
.home_screen .home_cercel .home_two

{
    position: absolute;
    width: 215px;
    height: 215px;
    top: 50%;
    left: 50%;
    transform: translate(-61%, -60%);
    border-radius: 50%;
    z-index: 4;
    cursor: pointer;

}


.home_screen .home_cercel .home_three

{
    position: absolute;
    width: 343px;
    height: 343px;
    top: 50%;
    left: 50%;
    transform: translate(-57%, -56%);
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;

}

.home_screen .home_cercel .home_four

{
    position: absolute;
    width: 435px;
    height: 435px;
    top: 50%;
    left: 50%;
    transform: translate(-55.5%, -55%);
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;

}

.home_screen .home_cercel .home_four.active,
.home_screen .home_cercel .home_four:hover
{
     border: 3px solid #5A91FF;
     box-shadow: 0px 0px 15px #5A91FF,
                 0px 0px 15px #5A91FF inset;

}

.home_screen .home_cercel .home_three.active,
.home_screen .home_cercel .home_three:hover
{
     border: 3px solid #FFA641;
    box-shadow: 0px 0px 15px #FFA641,
                0px 0px 15px #FFA641 inset;

}

.home_screen .home_cercel .home_two.active,
.home_screen .home_cercel .home_two:hover
{
     border: 3px solid #06D6A0;
     box-shadow: 0px 0px 15px #06D6A0,
                 0px 0px 15px #06D6A0 inset;
}

.home_screen .home_cercel .home_one.active,
.home_screen .home_cercel .home_one:hover
{
     border: 3px solid #F71735;
    box-shadow: 0px 0px 15px #F71735,
                0px 0px 15px #F71735 inset;            
}






.home_screen .home_about
{
    font-family: 'Manrope', sans-serif; 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(250px);
    padding: 24px 36px 36px;
    background: rgba(6, 36, 91, 1);
    width: auto;
    color: white;
    letter-spacing: 0.02em;
    border-radius: 18px;
    text-align: center;




    border-left: none;
    border-right: none;
    box-shadow: 0px 0px 2px #5A91FF;
    border-width: 2px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        #5A91FF, 
        rgba(0, 0, 0, 0)
      ) 1 100%;

}

.home_screen .home_about h2
{
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.04em;

} 
.home_screen .home_about h2 span
{
    color: #256BF6;
    cursor: pointer;
}

.home_screen .home_about p
{
    
    font-size: 12px;
    margin: 10px 0 22px 22px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    
}
 
.home_screen .home_about .spanVision
{
    color: white;
    padding: 12px 32px;
    background-color: #256BF6;
    border: 1px solid #256BF6;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.05em;
    cursor: pointer;
}
.home_screen .home_about a
{
    
  text-decoration: none;
}

.consistent_screen .home_about
{
    
    border-left: none;
    border-right: none;
    box-shadow: 0px 0px 2px #F71735;
    border-width: 2px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        red, 
        rgba(0, 0, 0, 0)
      ) 1 100%;

}



.consistent_screen .home_about h2 span
{
    color: #F71735;
}

.easy_screen .home_about
{
    
    border-left: none;
    border-right: none;
    box-shadow: 0px 0px 2px #06D6A0;
    border-width: 2px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        #06D6A0, 
        rgba(0, 0, 0, 0)
      ) 1 100%;


}

.easy_screen .home_about h2 span
{
    color: #06D6A0;
}

.effective_screen .home_about
{
    border-left: none;
    border-right: none;
    box-shadow: 0px 0px 2px #FFA641;
    border-width: 2px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        #FFA641, 
        rgba(0, 0, 0, 0)
      ) 1 100%;

}

.effective_screen .home_about h2 span
{
    color: #FFA641;
}
.home_about
{
    animation: shadowAnime 1.5s ease .5s both;

}
.svg_shadow
{
    position: absolute;
    z-index: -1;
    animation: shadowAnime1 5s linear .5s infinite  both;
    transition: all 6s ease-in-out;
    overflow: hidden;
}

.svg_shadow_2
{
    position: absolute;
    z-index: -1;
    animation: shadowAnime1 5s linear 4s infinite  both;
    transition: all 6s ease-in-out;
    overflow: hidden;
    transform: rotateZ(120deg);
}

@keyframes shadowAnime {
    0% {
        opacity: 0;
        
    }
   
    40% {
        opacity: .70;
        
    }
    100% {
        opacity: 1;
        
    }
}

@keyframes shadowAnime1 {
    0% {
        opacity: 0;
        transform: rotateZ(0deg);
        
    }
   
    50% {
        opacity: 1;
        transform: rotateZ(30deg);
        
    }
    100%
    {
        opacity: 0;
        transform: rotateZ(60deg);
    }
}
@keyframes waveAnimation {
    0% {
        width: 0%;
        transform: translateZ(10px);
        height: 100%;
        
    }
    10% {
        width: 10%;
        transform: translateZ(0);
        height: 100%;

        
    }
    20% {
        width: 20%;
        height: 100%;
        transform: translateZ(10px);
        
    }
    30% {
        width: 30% ;
        transform: translateZ(0);
        height: 100%;
        
    }
    40% {
        width: 40% ;
        transform: translateZ(10px);
        height: 100%;
        
    }
    50% {
        width: 50%;
        transform: translateZ(0);
        height: 100%;
        
    }
    60% {
        width: 60%;
        transform: translateZ(10px);
        height: 100%;
        
    }
   
    70% {
        width: 70% ;
        height: 100%;
        transform: translateZ(0);  
    }
    80% {
        width: 80%;
        transform: translateZ(10px);
        
        height: 100%;
        
    }
    90% {
        width: 90%;
        transform: translateZ(10px);
        height: 100%;
        
    }
    100% {
        width: 100%;
        transform: translateZ(0);
        height: 100%;

        
    }
}

/********************/
.home_screen .home_cercel .home_one span
{
    background-color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}

.home_screen .home_cercel .home_one span:nth-child(1)
{
    top: 33px;
    left: 13px;
}

.home_screen .home_cercel .home_one span:nth-child(2)
{
    top: 27px;
    left: 40px;
}

.home_screen .home_cercel .home_one span:nth-child(3)
{
    top: 55px;
    left: 53px;
    z-index: 10;
}
.home_screen .home_cercel .home_one div
{
    background: linear-gradient(360deg, #01064A -7.81%, #011456 4.22%, #003D7A 41.63%, #005B94 75.04%, #006DA3 104.43%, #0073A9 125.81%);
    border: 1px solid #09B0D1;
    box-shadow: 0px 0px 10px #09B0D1;
    position: absolute;
    width: 200px;
    color: white;
    text-align: left;
    padding: 10px 15px;
    filter: none;
    height: auto;
}
.home_screen .home_cercel .home_one div h4
{
    display: inline;
    font-size: 12px;
    margin-left: 25px;
}
.home_screen .home_cercel .home_one div h4 span
{
    transform: translateY(-20px);    
}

.home_screen .home_cercel .home_one div p
{
    font-size: 10px;
}
.home_screen .home_cercel .home_one div.one
{
    
    left: -180px;
    top: -65px;
    border-radius: 8px 8px 0 8px;
}
.home_screen .home_cercel .home_one div.two
{
    left: 47px;
    top: -75px;
    border-radius: 8px 8px 8px 0px;
}

.home_screen .home_cercel .home_one div.three
{
    left: -140px;
    top: 60px;
    border-radius: 8px 0px 8px 8px;
}
/********************/

.home_screen .home_cercel .home_two span
{
    background-color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}
.home_screen .home_cercel .home_two span:nth-child(1)
{
    top: 125px;
    left: 167px;
}

.home_screen .home_cercel .home_two span:nth-child(2)
{
    top: 67px;
    left: 185px;
}

.home_screen .home_cercel .home_two span:nth-child(3)
{
    top: 38px;
    left: 94px;
    z-index: 10;
}

.home_screen .home_cercel .home_two div
{
    background: linear-gradient(360deg, #01064A -7.81%, #011456 4.22%, #003D7A 41.63%, #005B94 75.04%, #006DA3 104.43%, #0073A9 125.81%);
    border: 1px solid #09B0D1;
    box-shadow: 0px 0px 10px #09B0D1;
    position: absolute;
    width: 200px;
    height: auto;
    color: white;
    text-align: left;
    padding: 15px;
    filter: none;
}
.home_screen .home_cercel .home_two div h4
{
    display: inline;
    font-size: 12px;
    margin: 0;
   
}
.home_screen .home_cercel .home_two div h4 svg, .home_screen .home_cercel .home_three div h4 svg
{
    transform: translate(-5px, 5px);
}



.home_screen .home_cercel .home_two div p
{
    font-size: 10px;
}


.home_screen .home_cercel .home_two div.four
{
    left: -25px;
    top: 130px;
    border-radius: 8px 0px 8px 8px;
}

.home_screen .home_cercel .home_two div.five
{

    left: -8px;
    top: -40px;
    border-radius: 8px 8px 0px 8px;

}

.home_screen .home_cercel .home_two div.six
{

    left: 100px;
    top: -60px;
    border-radius: 8px 8px 8px 0px;

}
/*******************************/

.home_screen .home_cercel .home_three span
{
    background-color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}
.home_screen .home_cercel .home_three span:nth-child(1)
{
    top: 162px;
    left: 23px;
}

.home_screen .home_cercel .home_three span:nth-child(2)
{
    top: 25px;
    left: 234px;
}

.home_screen .home_cercel .home_three span:nth-child(3)
{
    top: 285px;
    left: 157px;
    z-index: 10;
}

.home_screen .home_cercel .home_three div
{
    background: linear-gradient(360deg, #01064A -7.81%, #011456 4.22%, #003D7A 41.63%, #005B94 75.04%, #006DA3 104.43%, #0073A9 125.81%);
    border: 1px solid #09B0D1;
    box-shadow: 0px 0px 10px #09B0D1;
    position: absolute;
    width: 200px;
    height: auto;
    color: white;
    text-align: left;
    padding:10px 15px;
    filter: none;
}
.home_screen .home_cercel .home_three div h4
{
    font-size: 12px;
    margin: 0;
}
.home_screen .home_cercel .home_three div p
{
    font-size: 10px;
}

.home_screen .home_cercel .home_three div.seven
{
    left: -170px;
    top: 70px;
    border-radius: 8px 8px 0px 8px;
}

.home_screen .home_cercel .home_three div.eight
{
    left: 240px;
    top: -60px;
    border-radius: 8px 8px 8px 0px;
}

.home_screen .home_cercel .home_three div.nine
{
    left: 163px;
    top: 290px;
    border-radius: 0px 8px 8px 8px;
}
 

/************************* MEDIA ***************************/


@media (max-width:575px ) {
    .cercle_svg_lg
    {
        display: none;
    }
    .cercle_svg_sm
    {
        display: block;
    }
    .svg_shadow
    {
        display: none;
    }
    

.home_screen .home_cercel
{
    transform: translate(2%,-230px);
    text-align: center;
    position: relative;
    margin-bottom: -200px;
    
}

.home_screen .home_cercel .home_one

{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0%;
    left: 0%;
    transform: translate(345px, 325px);
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
}
.home_screen .home_cercel .home_two

{
    position: absolute;
    width: 170px;
    height: 170px;
    top: 0%;
    left: 0%;
    transform: translate(295px, 275px);
    border-radius: 50%;

}


.home_screen .home_cercel .home_three

{
    width: 270px;
    height: 270px;
    top: 0%;
    left: 0%;
    transform: translate(91%, 83%);
    border-radius: 50%;


}

.home_screen .home_cercel .home_four

{
    width: 340px;
    height: 340px;
    top: 0%;
    left: 0%;
    transform: translate(62%, 56%);
    border-radius: 50%;


}

.home_screen .home_about
{
    font-family: 'Manrope', sans-serif; 
    border-left: 2px solid #5A91FF;
    border-right: 2px solid #5A91FF;
    position: sticky;
    left: 0;
    transform: translate(0%, -200px);
    padding: 14px 26px 26px;
    margin: 0 auto;
}

.homePage_h1 h1
{
  
    margin-top: 100px;
    font-size: 30px;
    
}


 }
 
 @media (min-width: 576px) and (max-width: 768px ) {
   

.home_screen .home_cercel
{
    transform: translate(2%,-250px);
    text-align: center;
    position: relative;
    margin-bottom: -180px;
    
}


.home_screen .home_about
{
    font-family: 'Manrope', sans-serif; 
    border-left: 2px solid #5A91FF;
    border-right: 2px solid #5A91FF;
    position: sticky;
    left: 0;
    transform: translate(0%, -200px);
    padding: 14px 26px 26px;
    margin: 0 auto;

}

.homePage_h1 h1
{
    margin-top: 60px;   
    font-size: 40px;
   
}
   
 }
 @media (min-width: 769px) and (max-width: 992px ) {

 

.home_screen .home_cercel
{
    transform: translate(3%,-190px);
    text-align: center;
    position: relative;
    margin-bottom: -200px;
    
}
.home_screen .home_about
{
    font-family: 'Manrope', sans-serif; 
    border-left: 2px solid #5A91FF;
    border-right: 2px solid #5A91FF;
    position: sticky;
    left: 0;
    transform: translate(0%, -150px);
    padding: 14px 26px 26px;
    margin: 0 auto;

}
.home_screen .home_cercel .home_one

{
    top: 50%;
    left: 0%;
    transform: translate(430px, -75%);
}
.home_screen .home_cercel .home_two

{

    top: 50%;
    left: 0%;
    transform: translate(370px, -60%);


}


.home_screen .home_cercel .home_three

{
    top: 50%;
    left: 0%;
    transform: translate(89%, -56%);


}

.home_screen .home_cercel .home_four

{
    top: 50%;
    left: 0%;
    transform: translate(60%, -55%);
}

  
 }
 @media (min-width: 993px) and (max-width: 1250px ) {
  

.home_screen .home_cercel
{
    transform: translate(3%,-190px);
    text-align: center;
    position: relative;
    margin-bottom: -200px;
    
}
.home_screen .home_about
{
    font-family: 'Manrope', sans-serif; 
    border-left: 2px solid #5A91FF;
    border-right: 2px solid #5A91FF;
    position: sticky;
    left: 0;
    transform: translate(0%, -150px);
    padding: 14px 26px 26px;
    margin: 0 auto;

}
.home_screen .home_cercel .home_one

{
    top: 50%;
    left: 0%;
    transform: translate(430px, -75%);
}
.home_screen .home_cercel .home_two

{

    top: 50%;
    left: 0%;
    transform: translate(370px, -60%);


}


.home_screen .home_cercel .home_three

{
    top: 50%;
    left: 0%;
    transform: translate(89%, -56%);


}

.home_screen .home_cercel .home_four

{
    top: 50%;
    left: 0%;
    transform: translate(60%, -55%);
}

  
 }